{% extends 'hello/example.html' %}

{% block title %}
    Cоздание наряда-допуск
{% endblock %}

{% block content %}
    <h1>Оформление наряда-допуска</h1>


    <form method="post" action="postuser/">
            {% csrf_token %}

        <p>Руководителю работ: <input type="text" name="managerPost" placeholder="должность">  <input type="text" name="manager" placeholder="ФИО"></p>
        <p>Производителю работ: <input type="text" name="executorPost" placeholder="должность">  <input type="text" name="executor" placeholder="ФИО"></p>
        <p>С членами бригады: <input type="text" name="countMember" placeholder="Количество членов бригады"> Члены бригады: <input type="text" name="member" placeholder="ФИО, разряд"></p>
        <p>Поручается выполнить: </p>
        <textarea name="work" id="workId" cols="50" rows="2"></textarea>

        <p>Начало работы: дата  <input type="date" name="dateStart" placeholder="Дата начала работы">  <input type="time" name="timeStart" placeholder="Дата начала работы">,
            Окончание: <input type="date" name="dateEnd" placeholder="время">  <input type="time" name="timeEnd" placeholder="время"></p>
<!--        <p>Для обеспечения безопасных условий необходимо:</p>-->
<!--        <textarea name="safeComment" id="safeId" cols="50" rows="2"></textarea>-->
        <p>Особые условия: <input type="text" name="conditions" placeholder="Особые условия"></p>
        <p>Наряд выдал: дата <input type="text" name="dateStart" placeholder="Дата">, должность <input type="text" name="directorPost" placeholder="Должность">  <input type="text" name="director" placeholder="ФИО"></p>
        <p>Дежурный персонал других цехов (участков) <input type="text" name="personalPost" placeholder="Должность">  <input type="text" name="personal" placeholder="ФИО"></p>
        <input type="submit" value="Send"/>
    </form>



{% endblock %}