{% extends 'hello/example.html' %}

{% block title %}
    Cоздание наряда-допуск
{% endblock %}

{% block content %}

<h3 xmlns="http://www.w3.org/1999/html">Оформление наряда-допуска</h3>


    <form method="post" action="postuser/">
            {% csrf_token %}
            <div class="row">
                    <div class="col-md-4 mb-4 pb-2">
                      <div data-mdb-input-init class="form-outline">
                        <input type="text" name="managerPost" id="form3Examplev2" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev2">Должность руководителя</label>
                      </div>

                    </div>
                    <div class="col-md-4 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        <input type="text" name="manager" id="form3Examplev3" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev3">ФИО руководителя</label>
                      </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-4 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        <input type="text" name="executorPost" id="form3Examplev21" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev21">Должность производителя</label>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        <input type="text" name="executor" id="form3Examplev31" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev31">ФИО производителя</label>
                      </div>
                    </div>
            </div>
        <div class="row">
                    <div class="col-md-2 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        <input type="text" name=countMember id="form3Examplev41" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev2">Количество членов бригады</label>
                      </div>
                    </div>
                    <div class="col-md-8 mb-4 pb-2">

                      <div class="col-md-9 pe-1">
                          <textarea name="member" class="form-control" rows="3"></textarea>
                          Должность, ФИО, разряд членов бригады
                      </div>
                    </div>
            </div>
            <div class="row align-items-center py-3">
              <div class="col-md-7 pe-5">

                <textarea class="form-control" name="work" rows="3" placeholder="Название работы"></textarea>
                Название работы, район, название оборудования, отметка.
              </div>
            </div>

        <div class="row">
                    <div class="col-md-2 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        <input type="date" name=dateStart id="form5Examplev5" class="form-control form-control-lg" />
                        <label class="form-label" for="form5Examplev5">Дата начала работы</label>
                      </div>
                    </div>
                    <div class="col-md-2 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        <input type="time" name="timeStart" id="form51Examplev5" class="form-control form-control-lg" />
                        <label class="form-label" for="form51Examplev5">Время</label>
                      </div>
                    </div>

                    <div class="col-md-2 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        <input type="date" name=dateEnd id="form5Examplev52" class="form-control form-control-lg" />
                        <label class="form-label" for="form5Examplev52">Дата окончания</label>
                      </div>
                    </div>
                    <div class="col-md-2 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        <input type="time" name="timeEnd" id="form5Examplev53" class="form-control form-control-lg" />
                        <label class="form-label" for="form51Examplev5">Время</label>
                      </div>
                    </div>
        </div>
        <div class="row">
                    <div class="col-md-4 mb-4 pb-2">
                      <div data-mdb-input-init class="form-outline">
                        <input type="text" name="conditions" id="form5Examplev2" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev2">Особые условия</label>
                      </div>

                    </div>
                    <div class="col-md-4 mb-4 pb-2">
            </div>

        <div class="row">
                    <div class="col-md-2 mb-4 pb-2">
                      <div data-mdb-input-init class="form-outline">
                        <input type="date" name="dateDelivery" id="form7Examplev2" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev2">Дата выдачи наряда</label>
                      </div>

                    </div>
                    <div class="col-md-2 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        <input type="time" name="timeDelivery" id="form7Examplev3" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev3">Время</label>
                      </div>
                    </div>
                    <div class="col-md-3 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        <input type="text" name="directorPost" id="form7Examplev4" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev3">Должность выдавшего наряд</label>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        <input type="text" name="director" id="form7Examplev5" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev3">ФИО</label>
                      </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-4 mb-4 pb-2">
                      <div data-mdb-input-init class="form-outline">
                        <input type="text" name="personalPost" id="form6Examplev2" placeholder="Должность" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev2">Дежурный персонал других цехов</label>
                      </div>

                    </div>
                    <div class="col-md-4 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        <input type="text" name="personal" id="form6Examplev3" placeholder="ФИО" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev3">ФИО</label>
                      </div>
                    </div>
            </div>
        </div>





<!--        <p>Руководителю работ: <input type="text" name="managerPost" placeholder="должность">  <input type="text" name="manager" placeholder="ФИО"></p>-->
<!--        <p>Производителю работ: <input type="text" name="executorPost" placeholder="должность">  <input type="text" name="executor" placeholder="ФИО"></p>-->
<!--        <p>С членами бригады: <input type="text" name="countMember" placeholder="Количество членов бригады"> Члены бригады: <input type="text" name="member" placeholder="ФИО, разряд"></p>-->
<!--        <p>Поручается выполнить: </p>-->
<!--        <textarea name="work" id="workId" cols="50" rows="2"></textarea>-->

<!--        <p>Начало работы: дата  <input type="date" name="dateStart" placeholder="Дата начала работы">  <input type="time" name="timeStart" placeholder="Дата начала работы">,-->
<!--            Окончание: <input type="date" name="dateEnd" placeholder="время">  <input type="time" name="timeEnd" placeholder="время"></p>-->
<!--&lt;!&ndash;        <p>Для обеспечения безопасных условий необходимо:</p>&ndash;&gt;-->
<!--&lt;!&ndash;        <textarea name="safeComment" id="safeId" cols="50" rows="2"></textarea>&ndash;&gt;-->
<!--        <p>Особые условия: <input type="text" name="conditions" placeholder="Особые условия"></p>-->
<!--        <p>Наряд выдал: дата <input type="text" name="dateStart" placeholder="Дата">, должность <input type="text" name="directorPost" placeholder="Должность">  <input type="text" name="director" placeholder="ФИО"></p>-->
<!--        <p>Дежурный персонал других цехов (участков) <input type="text" name="personalPost" placeholder="Должность">  <input type="text" name="personal" placeholder="ФИО"></p>-->
<!--        <input type="submit" value="Send"/>-->
        <input type="submit" value="Send"/>
    </form>



{% endblock %}