{% extends 'hello/example.html' %}

{% block title %}
    Cоздание наряда-допуск

{% endblock %}

{% block content %}

<h3 xmlns="http://www.w3.org/1999/html">Оформление наряда-допуска</h3>

    <form method="post" action="postDirector/">

        {% csrf_token %}
        <div class="row">
        <div class="col-md-4 mb-4 pb-2">
            <input type="text" name="search_director" id="form1Examplev3" class="form-control form-control-lg" placeholder="ФИО"/>
            <label class="form-label" for="form3Examplev3">Наряд-допуск выдал</label>
        </div>
        <div class="col-md-4 mb-4 pb-2">
            <button class="btn btn-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
            </svg></button>
        </div>
        </div>
    </form>


    <form method="post" action="postManager/">

        {% csrf_token %}
        <div class="row">
        <div class="col-md-4 mb-4 pb-2">
            <input type="text" name="search_manager" id="form3Examplev3" class="form-control form-control-lg" placeholder="ФИО"/>
            <label class="form-label" for="form3Examplev3">Руководитель работ</label>
        </div>
        <div class="col-md-4 mb-4 pb-2">
            <button class="btn btn-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
            </svg></button>
        </div>
        </div>
    </form>



    <form method="post" action="postExecutor/">
            {% csrf_token %}


        <div class="row">
        <div class="col-md-4 mb-4 pb-2">
            <input type="text" name="search_executor" id="form31Examplev3" class="form-control form-control-lg" placeholder="ФИО"/>
            <label class="form-label" for="form3Examplev3">Производитель работ</label>
        </div>
        <div class="col-md-4 mb-4 pb-2">
            <button class="btn btn-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
            </svg></button>
        </div>
        </div>
    </form>
    <form method="post" action="postWorker/">
            {% csrf_token %}
        <div class="row">
        <div class="col-md-4 mb-4 pb-2">
            <input type="text" name="search_worker" id="form321Examplev3" class="form-control form-control-lg" placeholder="ФИО"/>
            <label class="form-label" for="form3Examplev3">Член бригады</label>
        </div>
        <div class="col-md-4 mb-4 pb-2">
            <button class="btn btn-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
            </svg></button>
        </div>
        </div>
    </form>
<!--        <div class="row">-->
<!--                    <div class="col-md-2 mb-4 pb-2">-->

<!--                      <div data-mdb-input-init class="form-outline">-->
<!--                        <input type="text" id="countInp" size="1" maxlength="1"/>-->
<!--                        <label class="form-label" for="form3Examplev2">Количество членов бригады</label>-->
<!--                        <form id="myForm">-->


<!--                        <input type="submit" id="btnSub"/>-->
<!--                        </form>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-8 mb-4 pb-2">-->

<!--                      <div class="col-md-9 pe-1">-->
<!--                          <textarea name="member" class="form-control" rows="3"></textarea>-->
<!--                          Должность, ФИО, разряд членов бригады-->
<!--                      </div>-->
<!--                    </div>-->
<!--            </div>-->
        <form method="post" action="postStateEngineer/">

        {% csrf_token %}
        <div class="row">
        <div class="col-md-4 mb-4 pb-2">
            <input type="text" name="search_state_engineer" id="form31Examplev34" class="form-control form-control-lg" placeholder="ФИО"/>
            <label class="form-label" for="form3Examplev3">Дежурный инженер станции</label>
        </div>
        <div class="col-md-4 mb-4 pb-2">
            <button class="btn btn-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
            </svg></button>
        </div>
        </div>
    </form>
        <form method="post" action="postShiftManager/">

        {% csrf_token %}
        <div class="row">
        <div class="col-md-4 mb-4 pb-2">
            <input type="text" name="search_shiftManager" id="form3Examplev34" class="form-control form-control-lg" placeholder="ФИО"/>
            <label class="form-label" for="form3Examplev3">Допускающий (начальник смены, участка)</label>
        </div>
        <div class="col-md-4 mb-4 pb-2">
            <button class="btn btn-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
            </svg></button>
        </div>
        </div>
    </form>

    <form method="post" action="resultWorkPermit/">
                {% csrf_token %}
        <div class="row align-items-center py-3">
            <div class="col-md-2 mb-4 pb-2">
                {% csrf_token %}
                {{ form_department }}
            </div>
        </div>

            <div class="col-md-2 mb-4 pb-2">
                      <div data-mdb-input-init class="form-outline">
                        <input type="text" name=countMember id="form3Examplev41" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev2">Количество членов бригады</label>
                      </div>
                    </div>

            <div class="row align-items-center py-3">
              <div class="col-md-7 pe-5">

                <textarea class="form-control" name="work" rows="3" placeholder="Название работы"></textarea>
                Название работы, район, название оборудования, отметка.
              </div>
            </div>

        <div class="row">
                    <div class="col-md-2 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        <input type="text" name=number_permit id="form55Examplev5" class="form-control form-control-lg" />
                        <label class="form-label" for="form5Examplev5">Номер наряда</label>
                      </div>
                    </div>
                    <div class="col-md-2 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        <input type="date" name=dateStart id="form5Examplev5" class="form-control form-control-lg" />
                        <label class="form-label" for="form5Examplev5">Дата начала работы</label>
                      </div>
                    </div>
                    <div class="col-md-2 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        <input type="time" name="timeStart" id="form51Examplev5" class="form-control form-control-lg" />
                        <label class="form-label" for="form51Examplev5">Время</label>
                      </div>
                    </div>

                    <div class="col-md-2 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        <input type="date" name=dateEnd id="form5Examplev52" class="form-control form-control-lg" />
                        <label class="form-label" for="form5Examplev52">Дата окончания</label>
                      </div>
                    </div>
                    <div class="col-md-2 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        <input type="time" name="timeEnd" id="form5Examplev53" class="form-control form-control-lg" />
                        <label class="form-label" for="form51Examplev5">Время</label>
                      </div>
                    </div>
        </div>
        <div class="row">
                    <div class="col-md-4 mb-4 pb-2">
                      <div data-mdb-input-init class="form-outline">
                        <input type="text" name="conditions" id="form5Examplev2" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev2">Особые условия</label>
                      </div>

                    </div>
                    <div class="col-md-4 mb-4 pb-2">
            </div>

        <div class="row">
                    <div class="col-md-2 mb-4 pb-2">
                      <div data-mdb-input-init class="form-outline">
                        <input type="date" name="dateDelivery" id="form7Examplev2" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev2">Дата выдачи наряда</label>
                      </div>

                    </div>
                    <div class="col-md-2 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        <input type="time" name="timeDelivery" id="form7Examplev3" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev3">Время</label>
                      </div>
                    </div>
                    <div class="col-md-3 mb-4 pb-2">
            </div>
        </div>
        <div>
                <input type="submit" value="Сформировать наряд-допуск"/>
        </div>
    </form>





<!--        <p>Руководителю работ: <input type="text" name="managerPost" placeholder="должность">  <input type="text" name="manager" placeholder="ФИО"></p>-->
<!--        <p>Производителю работ: <input type="text" name="executorPost" placeholder="должность">  <input type="text" name="executor" placeholder="ФИО"></p>-->
<!--        <p>С членами бригады: <input type="text" name="countMember" placeholder="Количество членов бригады"> Члены бригады: <input type="text" name="member" placeholder="ФИО, разряд"></p>-->
<!--        <p>Поручается выполнить: </p>-->
<!--        <textarea name="work" id="workId" cols="50" rows="2"></textarea>-->

<!--        <p>Начало работы: дата  <input type="date" name="dateStart" placeholder="Дата начала работы">  <input type="time" name="timeStart" placeholder="Дата начала работы">,-->
<!--            Окончание: <input type="date" name="dateEnd" placeholder="время">  <input type="time" name="timeEnd" placeholder="время"></p>-->
<!--&lt;!&ndash;        <p>Для обеспечения безопасных условий необходимо:</p>&ndash;&gt;-->
<!--&lt;!&ndash;        <textarea name="safeComment" id="safeId" cols="50" rows="2"></textarea>&ndash;&gt;-->
<!--        <p>Особые условия: <input type="text" name="conditions" placeholder="Особые условия"></p>-->
<!--        <p>Наряд выдал: дата <input type="text" name="dateStart" placeholder="Дата">, должность <input type="text" name="directorPost" placeholder="Должность">  <input type="text" name="director" placeholder="ФИО"></p>-->
<!--        <p>Дежурный персонал других цехов (участков) <input type="text" name="personalPost" placeholder="Должность">  <input type="text" name="personal" placeholder="ФИО"></p>-->



<!--        <a href="{% url 'resultPermit' %}">Далее</a>-->
    </form>



{% endblock %}